:host {
    display: inline-flex;
}

svg {
    display: block;
    opacity: 1;
    shape-rendering: geometricPrecision;
}

.default-size {
    height: 64px;
    width: auto;
}

.disabled {
    opacity: 0.78;
    filter: saturate(0.75);
}
